*{margin: 0};


body {
  display: flex;
  background: rgb(50, 49, 49);
}

header {
  display: flex;
  margin: 0;
  background: rgb(58, 171, 232);
  width: 100vw;
  height: 20vh;
}

.Home {
  position: absolute;
  top: 40px;
  left: 20x;
  margin-left: 30px;
  font-size: 3em;
}

.center-box {
  background: white;
  width: 1000px;
  height: 450px;
  z-index: 15;
  margin: 0 auto;
  margin-top: 20px;
}

.name {
  text-decoration: underline;
  height: 100px;
  width: 300px;
  font-size: 3em;
  top: 30px;
  left: 60px;
}

.about {
  margin-left: 20px;
  height: 100px;
  width: 500px;
  top: 150px;
  font-size: 1.5em;
  left: 45px;
}


.next {
  position: absolute;
  margin-left: 1120px;
  background-color:transparent;
  color:white;
  font-size: 1em;
  margin-top: 10px;
  border-radius: 20%;
  border: none;

}

.new {
  margin-top: 10px;
  border-radius: 40%;
  position: absolute;
  background-color:rgb(58, 171, 232);
  color: white;
  font-size: 1em;
  left: 800px;
  padding: 8px;
}

.delete {
  margin-top: 10px;
  border-radius: 40%;
  position: absolute;
  background-color:rgb(58, 171, 232);
  color: white;
  font-size: 1em;
  left: 690px;
  padding: 8px;
}

.edit {
  margin-top: 10px;
  border-radius: 40%;
  position: absolute;
  background-color:rgb(58, 171, 232);
  color: white;
  font-size: 1em;
  left: 600px;
  padding: 8px;
}

.previous {
  margin-top: 10px;
  position: absolute;
  left: 200px;
  border-radius: 20%;
  font-size: 1em;
  border: none;
  background: transparent;
  color: white;
}

.number {
  position: absolute;
  left: 76%;
  bottom: 70%;
  font-size: 35px;
  background: transparent;
  border: none;
}

h1 {
  font-weight: 300;
}

.person {
  text-decoration: underline;
}
