

body {
  background: rgb(50, 49, 49);
}

header {
  margin: 0;
  background: rgb(58, 171, 232);
  width: 100vw;
  height: 20vh;
}

.center-box {
  height: 50vh;
  width: 80vw;
  background: white;
}

